<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">

                
                <div class="first__header">
                    <ul class="first__menu">
                        <li class="first__item">
                            <img src="../assets/imgs/clock.svg" alt="" class="first__img">
                            <p class="first__text">Работаем ежедневно с 9:00 до 21:00</p>
                        </li>

                        <li class="first__item">
                            <a href="" class="first__link"><img src="../assets/imgs/tellphone.svg" alt="" class="first__img"></a>
                            <a href="" class="second__link">8 800 777-77-77  <span class="first__span">(Звонок по России бесплатный)</span></a>
                        </li>

                        <li class="first__item">
                            <a href="" class="first__link"><img src="../assets/imgs/loopa.svg" alt="" class="first__img"></a>
                            <a href="" class="second__link">Поиск</a>
                        </li>

                        <li class="first__item">
                            <a href="" class="second__link">Обратный звонок</a>
                        </li>
                    </ul>
                </div>


                <img src="../assets/imgs/logotip.png" alt="" class="header__logo">

                <ul class="header__menu">
                    <li class="header__item header__more"><a href="" class="header__link">Новые автомобили</a></li>
                    <li class="header__item header__more"><a href="" class="header__link">С пробегом</a></li>
                    <li class="header__item header__more"><a href="" class="header__link">Такси в кредит</a></li>
                    <li class="header__item"><a href="" class="header__link">Автокредит</a></li>
                    <li class="header__item header__more"><a href="" class="header__link">Услуги</a></li>
                    <li class="header__item"><a href="" class="header__link">О компании</a></li>
                    <li class="header__item"><a href="" class="header__link">Контакты</a></li>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>